#page-content {
  padding: 2rem;
}

#layout-content {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#chart-rows {
  margin-top: 1rem;
}


/*when large sscreen*/
@media (min-width: 48em) {
  #page-content {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  
  #layout-content {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
